/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*  CSS-Layout for home-section of borderLeSS CMS
*                 ------------
*  This CSS-File is copyright by goldstift. Feel free to take this as lecture
*  though I don't think that anyone can use it. I think I was kind of too much
*  in perfection-mode when I created the DOM of my cms. *hehe*
*  But, well, what I gained is very near to FULL FLEXIBILITY... ;-)
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


div#homecontent {
  padding: 0px;
}

div.content {
  margin-bottom: 15px;
}
div.content:hover {
}

h3.storyheader {
  margin-top: 15px;
  background-color:#036;
  color: #fff;
  padding:2px 4px;
}
h3.storyheader span {
}

div.content div#edit_article_icon a img {
	border:0px;
}

div.storycontent {
  padding: 5px;
}
div.storycontent div {
}
div.content div.innercontent {
}
div.content div.innercontent span.sr_desc {
  display:none;
}
div.content div.innercontent span.sr_desc strong {
}
div.content div.innercontent a {
}
div.content div.innercontent img {
  margin: 15px;
  border:1px solid #000;
  float:right;
}
div.content div.description {
  clear:both;
  margin-top: 15px;
  margin-bottom: 10px;
  display:block;
}
div.content div.description span.sr_desc {
  display:none;
}
div.content div.description span.sr_desc strong {
}

/* images inside of the articles */
div.content div #Image1 {
}
div.content div #Image2 {
}
div.content div #Image3 {
}
div.content div #Image4 {
}
div.content div #Image5 {
}
/* and so on */

div.story_info {
  clear:both;
}
div.story_info div.author {
  display:inline;
  margin-left: 5px;  
}
div.story_info div.author span.sr_desc {
  display:inline;
}
div.story_info div.author a {
}

div.story_info div.edate {
  display:none;
}
div.story_info div.vdate {
  display:inline;
  margin-left: 10px;
}
div.story_info div.vdate span.sr_desc {
  margin-right: 5px;
}

div.story_info div.editor {
  display:none;
}
div.story_info div.editdate {
  display:none;
}

/* LATEST SECTION */

div#homecontent div#latestContent h3.menuheader {
  border-top:0px;
  margin: 0px 2px 0px 0px;
  text-align: left;
}
div#homecontent div#latestContent h3.menuheader span {
}

div#latestContent  form#latestForm {
  text-align:left;
}
div#latestContent  form#latestForm div#latest_type {
margin:2px 2px;
}
div#latestContent  form#latestForm div#latest_type select {
  width:130px;
}
div#latestContent  form#latestForm div#latest_type select option {
}

div#latestContent  .latestcont {
}

div#latestContent  .latestcont h4.latestheader {
  margin: 12px 0px 3px 0px;
  background-color:#ffcb63;
}
div#latestContent  .latestcont h4.latestheader span {
  margin-left:5px;
}

div#latestContent  .latestcont div.latestcontent {
  margin-left:10px;
}
div#latestContent  .latestcont .latestcontent span {
}
div#latestContent  .latestcont .latestcontent a {
/* Link [mehr] bringt den User zum Artikel */
}

div#latestContent  .latestcont .latestinfo  {
  margin:10px;
  margin-bottom:20px;
  background-color: #fff;
  padding:2px;
  background-color: #e4e4e4;
  border:2px solid #ccc
}
div#latestContent  .latestcont .latestinfo  div.author {
  display: inline;
  padding-left: 12px;
  background-image: url("bullet_double.gif");
  background-repeat:  no-repeat;
}
div#latestContent  .latestcont .latestinfo  div.author .sr_desc {
  display: inline;
}
div#latestContent  .latestcont .latestinfo  div.date {
  display: inline;
  padding-left: 5px;
}

div#latestContent  #latestcont1 {
}
div#latestContent  #latestcont2 {
}
div#latestContent  #latestcont3 {
}
div#latestContent  #latestcont4 {
}
div#latestContent  #latestcont5 {
}

