/* This CSS file holds the settings of default (small) font-size
 *
 */
body {
	font-size: 12px;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5, h6 {
  font-size: 12px;
}
