div.table_surrounder { margin-bottom:2em; }
h3.table_list_heading { margin-top:0.5em; }
table { padding:0px; border-collapse: collapse; width:98%;
	border-right:1px solid #656565;
	border-bottom:1px solid #656565;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	font-size:inherit;
}
table * a {font-size:1em;}
table .odd { background-color:#b8de6d;}
table .even { background-color:#DFFF9F;}
table * { font-size:inherit; }
thead { display: table-header-group }
tbody { display: table-row-group }
tfoot { display: table-footer-group }

table div.author a { font-size:0.95em; }
caption,
tfoot,
thead {
	padding:2px 2px;
	background-color:#4C6F00;
	color:#e4e4e4;
	border-bottom:1px solid #909099;
	font-size:1em;
	text-align:left;
	font-weight:normal;
}
thead .sortarrow { font-size:1.2em}
caption { font-size:2.0em; margin:1em 0 0 0; color:#fff;}
thead {background-color:#f5f5bf;}
thead * {
	font-size:0.95em;
	color:#000;
	font-weight:normal;
	width:auto;
	text-decoration:none;
	padding:0.2em 0;
}
div.action_select_div label,
tfoot div.prevNextArticle,
caption div.prevNextArticle {
	margin:0px;
	padding:0px;
	color:#e4e4e4;
	font-size:1em;
	font-weight:normal;
	width:auto;
	text-decoration:none;
}
caption div.prevNextArticle a,
tfoot div.prevNextArticle a
{ color:#ffcc66; font-size:1.4em; margin:0em 0.3em; font-weight:bold;}
th a:hover {text-decoration:underline; }

td { padding:2px 5px; text-align:left;}
