/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*  CSS-Default-Layout for www.goldstift.de
*
*  This CSS-File is copyright by goldstift. Feel free to take this as lecture
*  though I don't think that anyone can use it. I think I was kind of too much
*  in perfection-mode when I created the DOM of my cms. *hehe*
*  But, well, what I gained is very near to FULL FLEXIBILITY... ;-)
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ----------------------------------------------------------------------
*  general element-definitions - in no order                    
* ----------------------------------------------------------------------*/
html, body, div, span, ul, li, p, a, h1, h2, h3, h4, h5, h6, 
form, input, select, textarea 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
  margin:0px;
  padding:0px;
}

body {
	font: 9px/1.4em Tahoma, Arial, Helvetica, sans-serif;
  background-color: #711;
  color:#000;
} 

p {
}
form {
}
input, select, textarea {
  width:auto;
}
h1, h2, h3, h4, h5, h6 {
}
h1 {
  font-size: 16px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-size: 11px;
}
h5, h6 {
  font-size: 10px;
}
a:link,
a:visited { 
}
a:hover { 
}
a:visited { 
}

/* ----------------------------------------------------------------------*/
/*  general class-definitions - in order of appearance                   */
/* ----------------------------------------------------------------------*/

/* a general class making element invisible but readable for screenreaders */
.unsichtbar {
}

/* a general class important for dialogs */
.dialog {
  position:absolute;
  top:0px;
  left:0px;
  width:2048px;
  height:1600px;
  z-index:99999999999;
  background-image:url('gfx/blank.gif');
}
/* a general class important for dialogs */
.dialogbox {
  position:absolute;
  top:50px;
  left:50px;
  width:400px;
  z-index:9999999999999;
  border:1px solid #666;
  background-color:#ccc;
  padding:2px;
}
.dialogbox form
{
  padding:5px;
  background-color:#eee;
}

.dialogbox form textarea
{
	width:250px;
	height:80px;
}

.dialogbox form input,
.dialogbox form select
{
	width:auto;
	height:auto;
}

span.sr_desc {
  /* displays additional information for screenreaders */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    I N T R O P A G E
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body#introbody {
  
}
div#intromessage {
}
div#intromessage a {
}
div#intromessage a span {
}


/* ----------------------------------------------------------------------
*
*              main-divs - in order of appearance                                    
*
* ----------------------------------------------------------------------*/

/* ganz aeusserer Rahmen */
div#horizon {  
}

div#valid_xhtml {
}
div#valid_xhtml a img {
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    C O N T A I N E R - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* innerhalb von horizon, enthaelt fast alle anderen divs */
#container {
}
h1#welcome {
}
h1#welcome span {
}

div#site_usage {
  /* displays usage information on the site for visually handicapped people 
     who are using screenreaders
     Normal: Contains a link
     When clicked: Contains info text
  */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    M E N U - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
div#menusection {
}
html > body div#menusection {
/* correct positioning for DOM compatible Browser like Firefox */
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    S Y S T E M M E N U - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
div#menusection div#systemmenu {
}
div#systemmenu h3 {
}
div#systemmenu h3 span {
}
div#systemmenu span#sy_no_elements {
}

div#systemmenu ul {
}
div#systemmenu ul li {
}
div#systemmenu ul li a:link,
div#systemmenu ul li a:visited,
div#systemmenu ul li a:hover {
}
div#systemmenu ul li a:hover {
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    M A I N M E N U - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
div#menusection div#mainmenu {
}
div#mainmenu h3 {
}
div#mainmenu h3 span {
}
div#mainmenu span#mm_no_elements {
}
div#mainmenu ul {
  /* verhindert, dass das Menue nicht als Liste erscheint */
}
div#mainmenu ul li {
}
div#mainmenu ul li a:link,
div#mainmenu ul li a:visited,
div#mainmenu ul li a:hover {
}
div#mainmenu ul li a:hover {
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    S U B M E N U - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


div#menusection div#submenu {
}
div#submenu h3 {
}
div#submenu h3 span {
}
div#submenu span#sm_no_elements {
}
div#submenu ul {
}
div#submenu ul li {
}
div#submenu ul li a:link,
div#submenu ul li a:visited,
div#submenu ul li a:hover {
}
div#submenu ul li a:hover {
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    E R R O R - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

div#systemmsg {
}

div#systemmsg h2#systemmsgheading {
}
div#systemmsg h2#systemmsgheading span {
}
div#systemmsg div#systemmessage {
}
div#systemmsg div#systemmessage span {
}
div#systemmsg div#systemmsg_weiter {
}
div#systemmsg div#systemmsg_weiter span {
}
div#systemmsg div#systemmsg_weiter span a {
}  

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                  A L L C O N T E N T - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

div#allcontent {
}
div#allcontent div#articles {
}

h2#pathway {
}
h2#pathway span.sr_desc {
  /* displays the additional screenreader info.
     The class in general is described above.
  */
}
h2#pathway span#pathway_links {
}
h2#pathway span#pathway_links a {
}

div#menu_description { 
}
div#menu_description span#desc img { 
}
div#menu_description a img { 
}
div#menu_description span.sr_desc { 
  /* displays the word "Menuebeschreibung: ". 
     This was implemented for Screenreaders only 
  */
}
div#menu_description span#desc { 
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    L A T E S T - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
div#latest {
}
html > body div#latest {
}
div#latest h2 {
}
div#latest h2 span {
}

div#userarea { 
}
div#userarea div#usermenu {
}
div#userarea div#usermenu h3.menuheader {
}
div#userarea div#usermenu h3.menuheader span {
}

div#userarea div#usermenu form#loginForm {
}
div#userarea div#usermenu form#loginForm div#login_username {
}
div#userarea div#usermenu form#loginForm div#login_username input {
}
div#userarea div#usermenu form#loginForm div#login_password {
}
div#userarea div#usermenu form#loginForm div#login_password input{
}
div#userarea div#usermenu form#loginForm div#login_buttons {
}
div#userarea div#usermenu form#loginForm div#login_buttons input {
}

div#userarea div#usermenu div#password {
}
div#userarea div#usermenu div#password a {
}

div#userarea div#usermenu div#register {
}
div#userarea div#usermenu div#register a {
}

/* Logout-link-style - Looks like a button */
div#userarea div#usermenu ul {
}
div#userarea div#usermenu ul li {
}
div#userarea div#usermenu ul li a {
}
div#userarea div#usermenu ul li a#logout_link {
}
div#userarea div#usermenu ul li a#logout_link:hover {     
  /* the mouseover-effect */
}
div.writearticle_link {
}
div.writearticle_link a {
}


div#userarea div#userinfo {
}
div#userarea div#userinfo h3.menuheader {
}
div#userarea div#userinfo h3.menuheader span {
}
div#userarea div#userinfo div#details {
}
div#userarea div#userinfo div#details span#curr_user {
}
div#userarea div#userinfo div#details span#curr_user span {
}
div#userarea div#userinfo div#details div#all_hits {
}
div#userarea div#userinfo div#details div#all_hits span {
}
div#userarea div#userinfo div#details div#monthhits {
}
div#userarea div#userinfo div#details div#monthhits span {
}
div#userarea div#userinfo div#details div#users_on {
}
div#userarea div#userinfo div#details div#users_on span {
}
div#userarea div#userinfo div#details div#users_reg {
}
div#userarea div#userinfo div#details div#users_reg span {
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    S H O U T I N G - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
div#opt_components {
}
html > body div#opt_components {
/* correct positioning for DOM compatible Browser like Firefox */
}
div#opt_components div#styleswitcher {
}
div#opt_components  div#styleswitcher form {
}
div#opt_components  div#styleswitcher form h3 {
}
div#opt_components  div#styleswitcher form h3 span {
}
div#opt_components  div#styleswitcher form div {
}
div#opt_components  div#styleswitcher form div select {
}
div#opt_components  div#styleswitcher form div input {
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    D E B U G G I N G - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ganzer debugging-bereich */
#debugging {
  position:absolute;
  top: 0px;
  right:0px;
  z-index:2000;
  background-color:#efefef;
  color:#000;
  border:2px solid #333;
  width:400px;
  padding:5px;
}
/* enthaelt jeweils die debugging-infos */
#debugging pre {
}
#debugging input {
	width:auto;
	margin:2px 5px;
}

h2#debugheader {
}
h2#debugheader span {
}
#debugging h3 {
margin-top:20px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*                    C O P Y R I G H T - S E C T I O N
*
* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#copyright {
}
#copyright span {
}
#copyright span a {
}

