/** Definition for form elements */

fieldset {
	padding:1em;
  border: 1px solid #333;
}
fieldset legend {
  border: 1px solid #333;
  padding:2px 5px;
  margin:0px 0px 10px 2px;
  font-size:1.0em;
font-family:tahoma,arial,helvetica,sans-serif;
font-weight:bold;
	background-color:#7eaa23;
	color:#fff;
}
input, select, textarea {
  border: 1px solid #bbb;
	background-color:#efa;
  padding:1px;
	font-size:1.0em;
	font-family:inherit;
font-family:tahoma,arial,helvetica,sans-serif;
}
label, input {	cursor:pointer;}
/** END of form elements */

/** Definition of HTML_QuickForm relevant CSS-Tags **/
.qfElement {
	margin:1.5em 0em;
}

.qfElement input,
.qfElement textarea,
.qfElement button,
.qfElement span+select {
	padding:1px;
}
.qfElement input,
.qfElement textarea,
.qfElement button {
	background-color: #e4e4e4;
}
.qfElement input[type="button"],
.qfElement input[type="submit"],
.qfElement input[type="reset"] { width:auto; display:inline; }

.qfElement select option {
margin-right:5px;
}
.qfLabel { display:block; font-size: inherit;	clear:both;}
.qfLabel span.qfLabelText {
	color:#000;
	display:block;
	width:35%;
	float:left;
	border-top:1px solid #bbb;
    padding:0px 3px;
}

div.qfElement textarea {
height:8em;
font-family:tahoma,arial,helvetica,sans-serif;
}
