/* This CSS file holds the settings of default (small) font-size
 *
 */
body, p, table, th, td, input, select, textarea, button, label {
	font-size: 16px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5, h6 {
  font-size: 16px;
}
